@charset "utf-8";

@font-face {
    font-family:'MuseoSansCyrl-100';
    src: url('../fonts/MuseoSansCyrl-100.eot');
	src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'),
		 url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
		 url('../fonts/MuseoSansCyrl-100.ttf') format('truetype'),
		 url('../fonts/MuseoSansCyrl-100.svg#MuseoSansCyrl-100') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /*unicode-range: U+0020-0525;*/
}

@font-face {
    font-family:'MuseoSansCyrl-300';
    src: url('../fonts/MuseoSansCyrl-300.eot');
	src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
		 url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
		 url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
		 url('../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0525;
}

@font-face {
    font-family:'MuseoSansCyrl-500';
    src: url('../fonts/MuseoSansCyrl-500.eot');
	src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
		 url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
		 url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'),
		 url('../fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0525;
}

@font-face {
    font-family:'MuseoSansCyrl-700';
    src: url('../fonts/MuseoSansCyrl-700.eot');
	src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
		 url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
		 url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'),
		 url('../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0525;
}

@font-face {
    font-family:'MuseoSansCyrl-900';
    src: url('../fonts/MuseoSansCyrl-900.eot');
	src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'),
		 url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
		 url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'),
		 url('../fonts/MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0525;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?hmhfuk');
	src:  url('../fonts/icomoon.eot?hmhfuk#iefix') format('embedded-opentype'),
		  url('../fonts/icomoon.ttf?hmhfuk') format('truetype'),
		  url('../fonts/icomoon.woff?hmhfuk') format('woff'),
		  url('../fonts/icomoon.svg?hmhfuk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 1180px;
	text-align: center;
	font-family: 'MuseoSansCyrl-300';
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #292929;
}
a{
	text-decoration: none;
	color: #292929;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1140px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder {
	color: #777;
}
[class^="icon-"]:before, 
[class*=" icon-"]:before  {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-monitor:before {
	content: "\e90a";
}
.icon-rubles:before {
	content: "\e908";
}
.icon-screen:before {
	content: "\e909";
}
.icon-arrow-right:before {
	content: "\e904";
}
.icon-arrow-left:before {
	content: "\e905";
}
.icon-screen-vertical:before {
	content: "\e900";
}
.icon-pyramid:before {
	content: "\e901";
}
.icon-rub:before {
	content: "\e902";
}
.icon-finger:before {
	content: "\e903";
}
.icon-mail:before {
	content: "\e906";
}
.icon-quote:before {
	content: "\e907";
}

b{
	font-family: "MuseoSansCyrl-500";
}
strong{
	font-family: "MuseoSansCyrl-900";
}
h1, h2{
	font-size: 55px;
	line-height: 70px;
	font-family: "MuseoSansCyrl-100";
	margin-bottom: 28px;
}
h3{
	font-size: 25px;
	line-height: 40px;
	font-family: "MuseoSansCyrl-300";
	margin-bottom: 19px;
}
h3 .thin{
	font-family: "MuseoSansCyrl-100";
}
h4{
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.8px;
}
h4 b{
	font-family: "MuseoSansCyrl-700";
}
p{
	font-family: "MuseoSansCyrl-300";
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.4px;
	position: relative;
}
p.b-quotes:before{
	position: absolute;
	content: "s";
	font-size: 0px;
	left: -29px;
	top: -21px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url('../i/icons/icomma.svg');
	width: 22px;
	height: 18px;
	background-size: 22px;
}
small{
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.6px;
}
.black small{
	opacity: 0.5;
	color: #FFF;
}
.black{
	background-color: #232425;
	color: #FFF;
}
.b-svg-rubles{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url('../i/1/rubles.svg');
	width: 64px;
	height: 32px;
	display: inline-block;
	background-size: contain;
	vertical-align: middle;
}
.b-svg-map{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url('../i/1/map.svg');
	width: 104px;
	height: 60px;
	display: inline-block;
	background-size: contain;
	vertical-align: middle;
	margin-top: -31px;
	margin-left: 6px;
	margin-bottom: -18px;
}
.b-svg-mail{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url('../i/3/mail.svg');
	background-size: contain;
	width: 40px;
	height: 29px;
	position: absolute;
	right: -41px;
	top: -15px;
}
.b-svg-vk{

}
.b-note{
	text-align: left;
	position: relative;
	box-shadow: 0px 30px 90px 0px rgba(82, 76, 84, 0.15);
	margin-bottom: 110px;
	border-radius: 5px;
}
	.b-note-shadow{
		position: absolute;
		content: "s";
		font-size: 0px;
		width: calc(100% - 40px);
		left: 20px;
		bottom: -10px;
		height: 10px;
		background: #bae1bb;
		border-radius: 0px 0px 5px 5px;
	}
.b-btn{

}
.b-green-btn{
	border-radius: 100px;
	display: inline-block;
	/* border-bottom: 1px solid rgba(255,255,255,0.3); */
	background-image: -moz-linear-gradient( 90deg, #58ac4b 0%, #b2e5a8 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(88, 189, 72) 0%, #baecb0 100%);
	background-image: -ms-linear-gradient( 90deg, #58ac4b 0%, #b2e5a8 100%);
	min-width: 340px;
	box-shadow: 0px 10px 30px rgba(88, 189, 72, 0.3), 0px 20px 50px rgba(88, 189, 72, 0.3), 0px 5px 20px rgba(88, 189, 72, 0.2), inset 0 -1px 0px 3px rgba(255, 255, 255, 0.15);
	text-shadow: 0px 1px 5px rgba(30, 30, 30, 0.15);
	color: #FFF;
	font-family: "MuseoSansCyrl-900";
	text-transform: uppercase;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 1.2px;
	padding: 25px 40px 25px;
}
	.b-green-btn:hover{
		
	}
.b-three-crirles{
	display: inline-block;
}
	.b-three-crirles span{
		display: block;
		width: 10px;
		height: 10px;
		border: 2px solid #292929;
		border-radius: 100px;
		margin-bottom: 7px;
	}
	.b-three-crirles span:nth-child(1){
		opacity: 0.2;
	}
	.b-three-crirles span:nth-child(2){
		opacity: 0.5;
	}
	.b-three-crirles span:nth-child(3){
		
	}
.slick-arrow{
	width: 60px;
	height: 60px;
	border-radius: 100px;
	background-color: #FFF;
	box-shadow: 0px 35px 70px 0px rgba(13, 13, 16, 0.1),0px 15px 75px 0px rgba(253, 138, 37, 0.05);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -41px;
	border: none;
	font-size: 0px;
	z-index: 10;
	-webkit-transition: background-color 100ms ease-out;
	-moz-transition: background-color 100ms ease-out;
	-ms-transition: background-color 100ms ease-out;
	-o-transition: background-color 100ms ease-out;
	transition: background-color 100ms ease-out;
}
	.slick-arrow:hover{
		background-color: #65bb59;
	}
	.slick-arrow:before{
		color: #b1b0b3;
		font-size: 22px;
		opacity: 0.5;
		-webkit-transition: color 100ms ease-out, opacity 100ms ease-out;
		-moz-transition: color 100ms ease-out, opacity 100ms ease-out;
		-ms-transition: color 100ms ease-out, opacity 100ms ease-out;
		-o-transition: color 100ms ease-out, opacity 100ms ease-out;
		transition: color 100ms ease-out, opacity 100ms ease-out;
	}
		.slick-arrow:hover:before{
			color: #FFF;
			opacity: 1;
		}
.slick-prev{
	margin-left: -600px;
}
.slick-next{
	margin-left: 540px;
}
.b-tabs-cont{
	padding-top: 54px;
}
	.b-tabs{

	}
		.b-tabs li{
			cursor: pointer;
			padding: 0px;
			display: inline-block;
			font-size: 20px;
			line-height: 15px;
			font-family: "MuseoSansCyrl-700";
			color: #9c9c9c;
			cursor: pointer;
		}
			.b-tabs li:hover{
				opacity: 1;
			}
		.b-tabs li.active{
			opacity: 1;
			color: #5e4abb;
		}
	.b-tabs-line{
		width: 100%;
		height: 1px;
		position: relative;
		background: #cccccc;
	}
		.b-tabs-line span{
			position: absolute;
			left: 10px;
			top: -1px;
			width: 200px;
			height: 2px;
			background: #5e4abb;
			display: block;
			-webkit-transition: width 200ms ease-out, left 200ms ease-out;
			   -moz-transition: width 200ms ease-out, left 200ms ease-out;
			    -ms-transition: width 200ms ease-out, left 200ms ease-out;
			   	 -o-transition: width 200ms ease-out, left 200ms ease-out;
					transition: width 200ms ease-out, left 200ms ease-out;
		}
.b-1{
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-image: url('../i/1/bg.jpg');
	background-color: #f4f4f4;
	height: 1650px;
}
	.b-header{

	}
		.b-header-top{
			padding-top: 34px;
			margin-bottom: 79px;
		}
			.b-logo{

			}
				.b-logo img{
					display: inline-block;
					vertical-align: middle;
					width: 109px;
				}
				.b-logo__text{
					font-size: 12px;
					line-height: 18px;
					color: #6974a3;
					text-transform: uppercase;
					letter-spacing: 1.1px;
					margin-left: 17px;
					display: inline-block;
					vertical-align: middle;
					font-family: "MuseoSansCyrl-500";
				}
			.b-menu{
				max-width: 644px;
				width: 100%;
				margin-top: 20px;
			}
				.b-menu li{
					display: inline-block;
				}
					.b-menu li a{
						font-family: "MuseoSansCyrl-500";
						color: #9c9c9c;
						font-size: 15px;
						line-height: 15px;
						position: relative;
						letter-spacing: 0.3px;
						-webkit-transition: color 100ms ease-out;
						-moz-transition: color 100ms ease-out;
						-ms-transition: color 100ms ease-out;
						-o-transition: color 100ms ease-out;
						transition: color 100ms ease-out;
					}
						.b-menu li a:hover{
							color: #5e4abb;
						}
						.b-menu li a:after{
							position: absolute;
							content: "s";
							font-size: 0px;
							width: 100%;
							height: 1px;
							left: 0px;
							bottom: -2px;
							background-color: #5e4abb;
							pointer-events: none;
							opacity: 0;
							-webkit-transition: transform 100ms ease-out, opacity 100ms ease-out;
							   -moz-transition: transform 100ms ease-out, opacity 100ms ease-out;
							    -ms-transition: transform 100ms ease-out, opacity 100ms ease-out;
							   	 -o-transition: transform 100ms ease-out, opacity 100ms ease-out;
									transition: transform 100ms ease-out, opacity 100ms ease-out;
							-webkit-transform: translateY(3px);
							   -moz-transform: translateY(3px);
							    -ms-transform: translateY(3px);
							   	 -o-transform: translateY(3px);
									transform: translateY(3px);
						}
							.b-menu li a:hover:after{
								pointer-events: auto;
								opacity: 1;
								-webkit-transform: translateY(0px);
								   -moz-transform: translateY(0px);
								    -ms-transform: translateY(0px);
								   	 -o-transform: translateY(0px);
										transform: translateY(0px);
							}
		.b-1 h1{
			display: inline-block;
			max-width: 860px;
		}
		.b-1 h1 + p{
			max-width: 792px;
			display: inline-block;
			margin-bottom: 40px;
		}
		.b-1 .b-btn{

		}
		.b-tfa-grey{
			font-size: 20px;
			line-height: 25px;
			opacity: 0.5;
			position: absolute;
			left: 50%;
			margin-left: 320px;
			top: 622px;
			-webkit-transform: rotateZ(-45deg);
			-moz-transform: rotateZ(-45deg);
			-ms-transform: rotateZ(-45deg);
			-o-transform: rotateZ(-45deg);
			transform: rotateZ(-45deg);
			letter-spacing: 1px;
		}
		.b-1 .b-three-crirles{
			margin-top: 116px;
			margin-bottom: 84px;
		}
	.b-top-surgay{

	}
		.b-right{
			text-align: left;
			max-width: 742px;
		}
			.b-top-surgay h2{
				position: relative;
				margin-bottom: 15px;
			}
				.b-top-surgay h2:before{
					position: absolute;
					content: "s";
					font-size: 0px;
					left: -108px;
					top: 35px;
					width: 80px;
					height: 3px;
					border-radius: 1px;
					background-color: #ff6240;
				}
			.b-right-padding{
				padding-left: 49px;
			}
			.b-top-surgay h3{
				margin-bottom: 17px;
				letter-spacing: 0.66px;
			}
			.b-top-surgay h3 a{
				color: #65bb59;
				position: relative;
			}
				.b-top-surgay h3 a:before{
					position: absolute;
					content: "s";
					font-size: 0px;
					width: 100%;
					height: 1px;
					bottom: -1px;
					border-bottom: 2px dotted rgba(101, 187, 89, 1);
					-webkit-transform: scaleY(0.3);
					   -moz-transform: scaleY(0.3);
					    -ms-transform: scaleY(0.3);
					   	 -o-transform: scaleY(0.3);
							transform: scaleY(0.3);
				}
				.b-top-surgay h3 a:hover:before{
					-webkit-transform: scaleY(0);
					   -moz-transform: scaleY(0);
					    -ms-transform: scaleY(0);
					   	 -o-transform: scaleY(0);
							transform: scaleY(0);
				}
			.b-indicators{
				margin-bottom: 28px;
			}
				.b-indicators__item{
					display: inline-block;
					margin-left: 20px;
					margin-left: 9px;
					margin-right: 14px;
				}
					.b-indicators__item-img{
						display: inline-block;
						vertical-align: middle;
						height: 75px;
					}
						.b-indicators__item-img img{
							position: relative;
						}
						.b-indicators__item:nth-child(1) .b-indicators__item-img img{
						    margin-left: 3px;
						    left: -6px;
						    top: 9px;
						}
						.b-indicators__item:nth-child(2) .b-indicators__item-img img{
							top: 7px;
						}
						.b-indicators__item:nth-child(3) .b-indicators__item-img img{
							margin-right: -14px;
							top: 9px;
							left: -22px;
						}
						.b-indicators__item:nth-child(4) .b-indicators__item-img img{
							top: 11px;
							left: 3px;
							margin-right: 6px;
						}
					.b-indicators__item h4{
						display: inline-block;
						vertical-align: middle;
					}
			.b-indicators + h3{
				max-width: 560px;
			}
.b-2{
	position: relative;
}
	.b-2 .b-check, 
	.b-6 .b-check{
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-image: url('../i/2/ok.jpg');
		width: 104px;
		height: 81px;
		position: absolute;
		left: 50%;
		margin-left: 486px;
		top: -40px;
	}
	.b-2 .b-circle{
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-image: url('../i/2/o.jpg');
		width: 103px;
		height: 108px;
		position: absolute;
		left: 50%;
		margin-left: -602px;
		bottom: -170px;
		z-index: 10;
	}
	.b-2 h2{
		margin-top: -45px;
		margin-bottom: 10px;
	}
	.b-2 h3{
		margin-bottom: -7px;
	}
	.b-four{

	}
		.b-four__item{
			text-align: left;
			display: inline-block;
			vertical-align: top;
			margin-right: 59px;
			position: relative;
		}
		.b-four__item:nth-child(1){
			margin-right: 60px;
		}
		.b-four__item:nth-child(2){
			margin-top: 60px;
			left: -4px;
		}
		.b-four__item:nth-child(3){
			margin-top: 70px;
			margin-right: 71px;
		}
		.b-four__item:nth-child(4){
			margin-right: 0px;
		}
			.b-four__item img{
				display: inline-block;
				vertical-align: top;
				margin-right: 9px;
				position: relative;
			}
			.b-four__item:nth-child(1) img{
				margin-right: 8px;
			}
			.b-four__item:nth-child(2) img{
				margin-top: -3px;
			}
			.b-four__item:nth-child(3) img{
				left: -18px;
				top: -5px;
				margin-right: 0px;
			}
			.b-four__item:nth-child(4) img{
				top: -8px;
				left: -20px;
			}
			.b-four__item h4{
				display: inline-block;
				vertical-align: top;
				margin-top: 26px;
				position: relative;
				z-index: 2;
			}
	.b-2 .b-four + h3{
		margin-top: 91px;
	}
	.b-second-four{

	}
		.b-second-four .b-four__item{
			margin-right: 0px;
		}
		.b-second-four .b-four__item:nth-child(1){
			margin-left: -8px;
			margin-right: 26px;
		}
		.b-second-four .b-four__item:nth-child(2){
			margin-right: -3px;
			margin-left: 3px;
			margin-top: 51px;
		}
		.b-second-four .b-four__item:nth-child(3){
			margin-left: 28px;
			margin-right: -18px;
			margin-top: 50px;
		}
		.b-second-four .b-four__item:nth-child(4){

		}
			.b-second-four .b-four__item:nth-child(1) img{
				margin-right: -7px;
				z-index: 1;
				top: -10px;
			}
			.b-second-four .b-four__item:nth-child(2) img{
				left: 16px;
				margin-top: 2px;
			}
			.b-second-four .b-four__item:nth-child(3) img{
				top: -9px;
				margin-right: -10px;
			}
			.b-second-four .b-four__item:nth-child(4) img{
				top: -22px;
				left: 20px;
			}
.b-3{
	padding-top: 152px;
	margin-bottom: 155px;
}
	.b-audience{margin-bottom: 174px;}
		.b-audience h3{
			margin-bottom: 30px;
		}
		.b-audience h2{
			font-size: 125px;
			margin-bottom: 40px;
		}
		.b-audience h2 + h3{
			letter-spacing: 0.2px;
		}
	.b-levels{

	}
		.b-levels-titles{
			text-align: left;
			margin-bottom: 18px;
		}
			.b-levels-titles h2{
				max-width: 460px;
				position: relative;
				z-index: 1;
			}
			.b-levels-titles p{
				max-width: 361px;
				margin-top: 23px;
			}
		.b-levels h3{
			text-align: left;
			margin-left: 47px;
			position: relative;
			z-index: 1;
		}
		.b-levels-image{
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/3/docs.jpg');
			width: 1222px;
			height: 456px;
			margin-top: -134px;
			margin-left: -24px;
			position: relative;
		}
			.b-levels-text{
				text-align: left;
				position: absolute;
				letter-spacing: 0.6px;
			}
			.b-levels-text-1{
				top: 398px;
				left: 204px;
			}
			.b-levels-text-2{
				left: 544px;
				top: 259px;
			}
			.b-levels-text-3{
				left: 924px;
				top: 319px;
			}
			.b-levels-line{
				position: absolute;
			}
			.b-levels-line-1{
				left: 66px;
				top: 359px;
			}
			.b-levels-line-2{
				left: 629px;
				top: 207px;
			}
			.b-levels-line-3{
				left: 836px;
				top: 265px;
			}
		h3.b-levels-email{
			display: inline-block;
			max-width: 455px;
			text-align: center;
			margin-top: 169px;
			margin-left: -5px;
		}
			h3.b-levels-email img{
				position: absolute;
				left: 50%;
				margin-left: -17px;
				top: -49px;
				width: 36px;
			}
.b-4{

}
	.b-4 h2.b-first-title{
		display: inline-block;
		max-width: 580px;
		margin-bottom: 47px;
	}
	.b-4 .b-three-crirles{

	}
	.b-4 h2.b-second-title{
		position: relative;
		display: inline-block;
		margin-top: 68px;
		margin-bottom: 13px;
	}
		.b-4 h2.b-second-title:after{
			position: absolute;
			content: "s";
			font-size: 0px;
			width: 32px;
			height: 32px;
			right: -50px;
			top: -7px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/icons/search.svg');
			background-size: contain;
		}
	.b-4 h2.b-second-title + p{
		letter-spacing: 0px;
	}
	.b-give-slider{
	}
		.b-give-slide{
			padding-bottom: 80px;
			padding-top: 58px;
		}
			.b-give-slide .b-block{
				text-align: left;
				position: relative;
			}
				.b-give-slide .b-request{
					position: relative;
					display: inline-block;
					padding: 22px 30px 27px;
					border-radius: 25px;
					margin-left: 60px;
					-webkit-transition: transform 300ms ease-out, opacity 300ms ease-out;
					   -moz-transition: transform 300ms ease-out, opacity 300ms ease-out;
					    -ms-transition: transform 300ms ease-out, opacity 300ms ease-out;
					   	 -o-transition: transform 300ms ease-out, opacity 300ms ease-out;
							transition: transform 300ms ease-out, opacity 300ms ease-out;
					-webkit-transform: translateX(30px);
					   -moz-transform: translateX(30px);
					    -ms-transform: translateX(30px);
					   	 -o-transform: translateX(30px);
							transform: translateX(30px);
					opacity: 0;
				}
					.b-give-slide.show .b-request{
						opacity: 1;
						-webkit-transform: translateX(0px);
						   -moz-transform: translateX(0px);
						    -ms-transform: translateX(0px);
						   	 -o-transform: translateX(0px);
								transform: translateX(0px);
					}
					.b-give-slide .b-request p{
						letter-spacing: 0px;
					}
					.b-give-slide .b-request:before{
						position: absolute;
						content: "s";
						font-size: 0px;
						width: 24px;
						height: 27px;
						left: -9px;
						bottom: -7px;
						background-position: 50% 50%;
						background-repeat: no-repeat;
					}
					.b-give-slide .b-request:after{
						position: absolute;
						content: "s";
						font-size: 0px;
						width: 5px;
						height: 25px;
						left: 0px;
						bottom: 5px;
					}
				.b-give-slide .b-request.green{
					background-color: #c5f0c6;
				}
					.b-give-slide .b-request.green:before{
						background-image: url('../i/4/corner-1.svg');	
					}
					.b-give-slide .b-request.green:after{
						background-color: #c5f0c6;
					}
				.b-give-slide .b-request.yellow{
					background-color: #e8f0c5;
				}
					.b-give-slide .b-request.yellow:before{
						background-image: url('../i/4/corner-2.svg');	
					}
					.b-give-slide .b-request.yellow:after{
						background-color: #e8f0c5;
					}
				.b-give-slide .b-request.blue{
					background-color: #c5e5f0;
				}
					.b-give-slide .b-request.blue:before{
						background-image: url('../i/4/corner-3.svg');	
					}
					.b-give-slide .b-request.blue:after{
						background-color: #c5e5f0;
					}
					.b-give-slide h4.b-label{
						position: absolute;
						opacity: 0.25;
						left: 28px;
						bottom: -35px;
						letter-spacing: 0;
					}
				.b-give-slide .b-blank{
					position: relative;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					width: 436px;
					height: 238px;
					margin-left: 137px;
					margin-top: 35px;
					z-index: 2;
					-webkit-transition: transform 300ms 200ms ease-out, opacity 300ms 200ms ease-out;
					   -moz-transition: transform 300ms 200ms ease-out, opacity 300ms 200ms ease-out;
					    -ms-transition: transform 300ms 200ms ease-out, opacity 300ms 200ms ease-out;
					   	 -o-transition: transform 300ms 200ms ease-out, opacity 300ms 200ms ease-out;
							transition: transform 300ms 200ms ease-out, opacity 300ms 200ms ease-out;
					-webkit-transform: translateX(30px);
					   -moz-transform: translateX(30px);
					    -ms-transform: translateX(30px);
					   	 -o-transform: translateX(30px);
							transform: translateX(30px);
					opacity: 0;
				}
					.b-give-slide.show .b-blank{
						opacity: 1;
						-webkit-transform: translateX(0px);
						   -moz-transform: translateX(0px);
						    -ms-transform: translateX(0px);
						   	 -o-transform: translateX(0px);
								transform: translateX(0px);
					}
					.b-give-slide .b-blank h4.b-label{
						bottom: 47px;
						left: 72px;
					}
				.b-give-slide p.b-give-text{
				    margin-left: 60px;
				    margin-top: -20px;
				    letter-spacing: 0px;
				    -webkit-transition: transform 500ms 400ms ease-out, opacity 500ms 400ms ease-out;
					   -moz-transition: transform 500ms 400ms ease-out, opacity 500ms 400ms ease-out;
					    -ms-transition: transform 500ms 400ms ease-out, opacity 500ms 400ms ease-out;
					   	 -o-transition: transform 500ms 400ms ease-out, opacity 500ms 400ms ease-out;
							transition: transform 500ms 400ms ease-out, opacity 500ms 400ms ease-out;
					-webkit-transform: translateX(30px);
					   -moz-transform: translateX(30px);
					    -ms-transform: translateX(30px);
					   	 -o-transform: translateX(30px);
							transform: translateX(30px);
					opacity: 0;
				}
					.b-give-slide.show p.b-give-text{
						opacity: 1;
						-webkit-transform: translateX(0px);
						   -moz-transform: translateX(0px);
						    -ms-transform: translateX(0px);
						   	 -o-transform: translateX(0px);
								transform: translateX(0px);
					}
				.b-give-slide .b-ipad{
					position: absolute;
					right: -50px;
					top: -40px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					width: 746px;
					height: 583px;
				}
.b-5{
	padding-top: 148px;
}
	.b-5 h2{
		margin-bottom: 31px;
	}
		.b-5 h2:after{
			position: absolute;
			content: "s";
			font-size: 0px;
			width: 38px;
			height: 36px;
			right: 300px;
			top: 0px;
		}
	.b-5 .b-two-blocks{
		margin-bottom: 51px;
	}
		.b-5 .b-two-blocks p{
			position: relative;
			text-align: left;
			float: left;
			letter-spacing: 0.2px;
		}
		.b-5 .b-one{
			width: 525px;
			margin-right: 60px;
			margin-left: 61px;
		}
			.b-number{
				color: #ff613f;
				font-size: 20px;
				line-height: 30px;
				font-family: "MuseoSansCyrl-700";
				position: absolute;
				left: -17px;
				top: -15px;
			}
		.b-5 .b-two{
			width: 450px;
		}
	.b-5 .b-two-blocks + p{
		letter-spacing: 0px;
	}
	.b-5 .b-diagram{
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-image: url('../i/5/block.svg');
		width: 1248px;
		height: 722px;
		margin-top: -6px;
		margin-left: -53px;
	}
		.b-5 .b-diagram-tabs-wrap{
			width: 983px;
			padding-top: 63px;
			display: inline-block;
		}
			.b-diagram-tabs{
				height: 34px;
			}
				.b-diagram-tabs li{

				}
		.b-diagram-tabs-cont{
			text-align: center;
			display: inline-block;
			width: 1128px;
		}
			.b-diagram-tabs-cont .b-tab{
				
			}
				.b-diagram-tabs-cont .b-tab img{
					display: inline-block;
				}
		.b-5 .b-diagram .slick-dots{
			display: none !important;
		}
.b-6{
	padding-top: 112px;
	z-index: 2;
}
	.b-6 h2{
		letter-spacing: -0.4px;
		margin-bottom: 12px;
		position: relative;
		display: inline-block;
	}
	.b-6 p{
		letter-spacing: 0.15px;
	}
	.b-three-blocks{
		margin-top: 6px;
	}
		.b-three-block{
			text-align: left;
			display: inline-block;
			vertical-align: top;
			position: relative;
		}
		.b-three-block:nth-child(1){
			margin-left: -10px;
		}
		.b-three-block:nth-child(2){
			margin-top: 47px;
			left: 8px;
		}
		.b-three-block:nth-child(3){
			margin-top: 7px;
			left: 3px;
		}
			.b-three-block img{
				display: inline-block;
				vertical-align: middle;
				position: relative;
			}
			.b-three-block:nth-child(1) img{

			}
			.b-three-block:nth-child(2) img{
				left: -9px;
			}
			.b-three-block:nth-child(3) img{
				left: -11px;
				top: 6px;
			}
			.b-three-block h4{
				display: inline-block;
				vertical-align: middle;
			}
	.b-zhgenti{padding-top: 39px;position: relative;}
		.b-zhgenti .b-woman{
			position: relative;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/6/woman.jpg');
			width: 415px;
			height: 472px;
			text-shadow: left;
			margin-left: -38px;
		}
			.b-zhgenti .b-woman p{
				font-family: "MuseoSansCyrl-700";
				position: absolute;
				left: 167px;
				top: 252px;
				background-color: #FFF;
				border-radius: 3px;
				padding: 5px 17px;
				box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
				z-index: 1;
				letter-spacing: 1px;
			}
			.b-zhgenti .b-woman h4{
				position: absolute;
				left: 198px;
				top: 287px;
				background-color: #FFF;
				padding: 9px 18px;
				color: rgba(41,41,41,0.5);
				white-space: nowrap;
				font-size: 13px;
				border-radius: 3px;
			}
		.b-zhgenti .b-woman-text{
			width: 560px;
			margin-left: 51px;
			margin-top: 121px;
			text-align: left;
		}
			.b-zhgenti .b-woman-text h3{
				font-size: 40px;
				line-height: 55px;
				margin-bottom: 9px;
				font-family: "MuseoSansCyrl-700";
			}
			.b-zhgenti .b-woman-text p{
				margin-left: 42px;
				letter-spacing: 0px;
			}
		.b-zhgenti .b-check{
			left: 20px;
			top: 460px;
			margin-left: 317px;
			background-image: url(../i/6/ok.png);
		}
		.b-zhgenti .b-peguet{

		}
.b-7{padding-top: 135px;}
	.b-7 h2{
		display: inline-block;
		max-width: 750px;
		margin-bottom: 10px;
	}
	.b-7 h2 + h3{margin-bottom: 0px;}
	.b-team{
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-image: url('../i/7/people.jpg');
		width: 1115px;
		height: 845px;
		margin-left: -9px;
		font-size: 0px;
		text-align: left;
	}
		.b-team-item{
			display: inline-block;
			vertical-align: top;
			width: 25%;
			height: 386px;
			margin-bottom: 1px;
			padding-top: 258px;
			text-align: center;
			opacity: 0;
			-webkit-transition: opacity 300ms ease-out, transform 300ms ease-out;
			   -moz-transition: opacity 300ms ease-out, transform 300ms ease-out;
			    -ms-transition: opacity 300ms ease-out, transform 300ms ease-out;
			   	 -o-transition: opacity 300ms ease-out, transform 300ms ease-out;
					transition: opacity 300ms ease-out, transform 300ms ease-out;
			-webkit-transform: translateY(10px);
			   -moz-transform: translateY(10px);
			    -ms-transform: translateY(10px);
			   	 -o-transform: translateY(10px);
					transform: translateY(10px);
		}
			.b-team-item:hover{
				opacity: 1;
				-webkit-transform: translateY(0px);
				   -moz-transform: translateY(0px);
				    -ms-transform: translateY(0px);
				   	 -o-transform: translateY(0px);
						transform: translateY(0px);
			}
			.b-team-item p{
				font-size: 18px;
			}
				.b-team-item p b{
					
				}
			.b-team-item small{
				
			}
.b-first-result{
	margin-top: 156px;
}
	.b-first-result h3{
		margin-bottom: 29px;
	}
	.b-first-result h2{
		font-size: 125px;
		margin-bottom: 53px;
	}
	.b-first-result img{
		width: 278px;
		margin-left: 20px;
		margin-bottom: 45px;
	}
	.b-first-result .b-results{
		display: inline-block;
		width: 693px;
		margin-left: 90px;
		text-align: left;
		letter-spacing: 0.4px;
	}
		.b-first-result .b-results h3{
			margin-bottom: 39px;
			position: relative;
		}
			.b-first-result .b-results h3:before{
				color: #ec5a3b;
				font-size: 28px;
				position: absolute;
				left: -40px;
				top: 0px;
			}
			.b-first-result .b-results h3.icon-screen:before{
				font-size: 30px;
				left: -71px;
				top: 12px;
			}
			.b-first-result .b-results h3.icon-rubles:before{
				font-size: 34px;
				left: -83px;
				top: 3px;
			}
			.b-first-result .b-results h3.icon-monitor:before{
				font-size: 30px;
				left: -70px;
				top: 14px;
			}
	.b-system{
		padding-top: 139px;
		padding-bottom: 313px;
	}
		.b-system h2{
			margin-bottom: 62px;
		}
		.b-system .b-scheme{
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/7/table.jpg');
			width: 828px;
			display: inline-block;
			height: 584px;
			bottom: -271px;
			position: absolute;
			left: 50%;
			margin-left: -418px;
		}
			.b-system .b-scheme h4{
				position: absolute;
				display: inline-block;
				top: 25px;
				left: -117px;
				line-height: 25px;
			}
				.b-system .b-scheme h4.icon-quote:before{
					position: absolute;
					left: 50%;
					top: -35px;
					color: #ec5a3b;
					font-size: 18px;
					margin-left: -16px;
				}
				.b-system .b-scheme h4 .b-line{
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url('../i/7/line.svg');
					width: 40px;
					height: 79px;
					position: absolute;
					left: 129px;
					bottom: -92px;
				}
			.b-system .b-scheme .b-btn{
				margin-top: 275px;
				margin-left: 8px;
			}
.b-8{
	padding-top: 445px;
}
	.b-8 h3{
		margin-bottom: 0px;
	}
	.b-8 h2{
		margin-bottom: 32px;
	}
	.b-note-svg{
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-image: url('../i/8/bg.svg');
		width: 1248px;
		height: 432px;
		margin-top: -6px;
		margin-left: -53px;
		text-align: left;
		padding: 73px 121px;
		margin-bottom: -32px;
		position: relative;
	}
		.b-note-svg h2{
			font-size: 40px;
			line-height: 45px;
			margin-bottom: 14px;
		}
		.b-note-svg p{
			letter-spacing: 0px;
		}
		.b-note-svg .b-img{
			background-position: 50% 50%;
			background-repeat: no-repeat;
			position: absolute;
		}
		.b-note-svg-1 .b-img{
			background-image: url('../i/8/image-1.png');
			width: 698px;
			height: 290px;
			right: 54px;
			top: 20px;
		}
		.b-note-svg-2 .b-img{
			background-image: url('../i/8/image-2.png');
			width: 457px;
			height: 330px;
			right: 105px;
			top: 20px;
		}
		.b-note-svg-3 .b-img{
			background-image: url('../i/8/image-3.png');
			width: 554px;
			height: 413px;
			right: 60px;
			top: -60px;
		}
		.b-note-svg-4 .b-img{
			background-image: url('../i/8/image-4.png');
			width: 511px;
			height: 362px;
			right: 129px;
			bottom: 81px;
		}
		.b-note-svg-5 .b-img{
			background-image: url('../i/8/image-5.png');
			width: 639px;
			height: 423px;
			right: 54px;
			bottom: 43px;
		}
.b-10{

}
	.b-10 h2{
		display: inline-block;
		max-width: 1000px;
		letter-spacing: 0px;
		margin-bottom: 22px;
	}
	.b-10 h2 + p{
		display: inline-block;
		max-width: 1000px;
	}
	.b-timetable-cont{
		text-align: left;
		padding-top: 45px;
	}
		.b-legend{
			width: 392px;
			margin-top: 137px;
		}
			.b-legend__item{
				margin-bottom: 20px;
				opacity: 0;
			}
			.legendAnim-show .b-legend__item:nth-child(1){
				opacity: 1;
				-webkit-transition: opacity 300ms 100ms ease-out;
				   -moz-transition: opacity 300ms 100ms ease-out;
				    -ms-transition: opacity 300ms 100ms ease-out;
				   	 -o-transition: opacity 300ms 100ms ease-out;
						transition: opacity 300ms 100ms ease-out;
			}
			.legendAnim-show .b-legend__item:nth-child(2){
				opacity: 1;
				-webkit-transition: opacity 300ms 200ms ease-out;
				   -moz-transition: opacity 300ms 200ms ease-out;
				    -ms-transition: opacity 300ms 200ms ease-out;
				   	 -o-transition: opacity 300ms 200ms ease-out;
						transition: opacity 300ms 200ms ease-out;
			}
			.legendAnim-show .b-legend__item:nth-child(3){
				opacity: 1;
				-webkit-transition: opacity 300ms 300ms ease-out;
				   -moz-transition: opacity 300ms 300ms ease-out;
				    -ms-transition: opacity 300ms 300ms ease-out;
				   	 -o-transition: opacity 300ms 300ms ease-out;
						transition: opacity 300ms 300ms ease-out;
			}
			.legendAnim-show .b-legend__item:nth-child(4){
				opacity: 1;
				-webkit-transition: opacity 300ms 400ms ease-out;
				   -moz-transition: opacity 300ms 400ms ease-out;
				    -ms-transition: opacity 300ms 400ms ease-out;
				   	 -o-transition: opacity 300ms 400ms ease-out;
						transition: opacity 300ms 400ms ease-out;
			}
			.legendAnim-show .b-legend__item:nth-child(5){
				opacity: 1;
				-webkit-transition: opacity 300ms 500ms ease-out;
				   -moz-transition: opacity 300ms 500ms ease-out;
				    -ms-transition: opacity 300ms 500ms ease-out;
				   	 -o-transition: opacity 300ms 500ms ease-out;
						transition: opacity 300ms 500ms ease-out;
			}
			.legendAnim-show .b-legend__item:nth-child(6){
				opacity: 1;
				-webkit-transition: opacity 300ms 600ms ease-out;
				   -moz-transition: opacity 300ms 600ms ease-out;
				    -ms-transition: opacity 300ms 600ms ease-out;
				   	 -o-transition: opacity 300ms 600ms ease-out;
						transition: opacity 300ms 600ms ease-out;
			}
			.legendAnim-show .b-legend__item:nth-child(7){
				opacity: 1;
				-webkit-transition: opacity 300ms 700ms ease-out;
				   -moz-transition: opacity 300ms 700ms ease-out;
				    -ms-transition: opacity 300ms 700ms ease-out;
				   	 -o-transition: opacity 300ms 700ms ease-out;
						transition: opacity 300ms 700ms ease-out;
			}
			.legendAnim-show .b-legend__item:nth-child(8){
				opacity: 1;
				-webkit-transition: opacity 300ms 800ms ease-out;
				   -moz-transition: opacity 300ms 800ms ease-out;
				    -ms-transition: opacity 300ms 800ms ease-out;
				   	 -o-transition: opacity 300ms 800ms ease-out;
						transition: opacity 300ms 800ms ease-out;
			}
			.legendAnim-show .b-legend__item:nth-child(9){
				opacity: 1;
				-webkit-transition: opacity 300ms 900ms ease-out;
				   -moz-transition: opacity 300ms 900ms ease-out;
				    -ms-transition: opacity 300ms 900ms ease-out;
				   	 -o-transition: opacity 300ms 900ms ease-out;
						transition: opacity 300ms 900ms ease-out;
			}
			.legendAnim-show .b-legend__item:nth-child(10){
				opacity: 1;
				-webkit-transition: opacity 400ms 1000ms ease-out;
				   -moz-transition: opacity 400ms 1000ms ease-out;
				    -ms-transition: opacity 400ms 1000ms ease-out;
				   	 -o-transition: opacity 400ms 1000ms ease-out;
						transition: opacity 400ms 1000ms ease-out;
			}
			.legendAnim-show .b-legend__item:nth-child(11){
				opacity: 1;
				-webkit-transition: opacity 500ms 1100ms ease-out;
				   -moz-transition: opacity 500ms 1100ms ease-out;
				    -ms-transition: opacity 500ms 1100ms ease-out;
				   	 -o-transition: opacity 500ms 1100ms ease-out;
						transition: opacity 500ms 1100ms ease-out;
			}
			.legendAnim-show .b-legend__item:nth-child(12){
				opacity: 1;
				-webkit-transition: opacity 600ms 1200ms ease-out;
				   -moz-transition: opacity 600ms 1200ms ease-out;
				    -ms-transition: opacity 600ms 1200ms ease-out;
				   	 -o-transition: opacity 600ms 1200ms ease-out;
						transition: opacity 600ms 1200ms ease-out;
			}
				.b-legend__item span{
					display: inline-block;
					vertical-align: top;
					text-align: center;
					width: 69px;
					border-radius: 100px;
					margin-right: 6px;
					padding: 0px 0px 1px;
				}
				.b-legend__item h4{
					width: calc(100% - 80px);
					display: inline-block;
					vertical-align: top;
					min-height: 40px;
				}
		.b-timetable{
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/10/roadmap.svg');
			width: 720px;
			height: 855px;
			padding-top: 137px;
			text-align: center;
		}
			.b-lessons{
				display: inline-block;
				width: calc(100% - 10px);
				overflow: hidden;
			}
				.b-lesson{
					border-radius: 100px;
					height: 20px;
					width: 0px;
					margin-bottom: 40px;
				}
				.b-lesson{
					
				}
				.b-lesson:nth-child(1){
					margin-left: 25px;
				}
				.lessonsAnim-show .b-lesson:nth-child(1){
					width: 40px;
					-webkit-transition: width 300ms 100ms ease-out;
					-moz-transition: width 300ms 100ms ease-out;
					-ms-transition: width 300ms 100ms ease-out;
					-o-transition: width 300ms 100ms ease-out;
					transition: width 300ms 100ms ease-out;
				}
				.b-lesson:nth-child(2){
					margin-left: 65px;
				}
				.lessonsAnim-show .b-lesson:nth-child(2){
					width: 60px;
					-webkit-transition: width 300ms 200ms ease-out;
					-moz-transition: width 300ms 200ms ease-out;
					-ms-transition: width 300ms 200ms ease-out;
					-o-transition: width 300ms 200ms ease-out;
					transition: width 300ms 200ms ease-out;
				}
				.b-lesson:nth-child(3){
					margin-left: 65px;
				}
				.lessonsAnim-show .b-lesson:nth-child(3){
					width: 80px;
					-webkit-transition: width 300ms 300ms ease-out;
					-moz-transition: width 300ms 300ms ease-out;
					-ms-transition: width 300ms 300ms ease-out;
					-o-transition: width 300ms 300ms ease-out;
					transition: width 300ms 300ms ease-out;
				}
				.b-lesson:nth-child(4){
					margin-left: 65px;
				}
				.lessonsAnim-show .b-lesson:nth-child(4){
					width: 100px;
					-webkit-transition: width 300ms 400ms ease-out;
					-moz-transition: width 300ms 400ms ease-out;
					-ms-transition: width 300ms 400ms ease-out;
					-o-transition: width 300ms 400ms ease-out;
					transition: width 300ms 400ms ease-out;
				}
				.b-lesson:nth-child(5){
					margin-left: 145px;
				}
				.lessonsAnim-show .b-lesson:nth-child(5){
					width: 150px;
					-webkit-transition: width 300ms 500ms ease-out;
					-moz-transition: width 300ms 500ms ease-out;
					-ms-transition: width 300ms 500ms ease-out;
					-o-transition: width 300ms 500ms ease-out;
					transition: width 300ms 500ms ease-out;
				}
				.b-lesson:nth-child(6){
					margin-left: 145px;
				}
				.lessonsAnim-show .b-lesson:nth-child(6){
					width: 100px;
					-webkit-transition: width 300ms 600ms ease-out;
					   -moz-transition: width 300ms 600ms ease-out;
					    -ms-transition: width 300ms 600ms ease-out;
					   	 -o-transition: width 300ms 600ms ease-out;
							transition: width 300ms 600ms ease-out;
				}
				.b-lesson:nth-child(7){
					margin-left: 245px;
				}
				.lessonsAnim-show .b-lesson:nth-child(7){
					width: 80px;
					-webkit-transition: width 300ms 700ms ease-out;
					-moz-transition: width 300ms 700ms ease-out;
					-ms-transition: width 300ms 700ms ease-out;
					-o-transition: width 300ms 700ms ease-out;
					transition: width 300ms 700ms ease-out;
				}
				.b-lesson:nth-child(8){
					margin-left: 245px;
				}
				.lessonsAnim-show .b-lesson:nth-child(8){
					width: 80px;
					-webkit-transition: width 300ms 800ms ease-out;
					-moz-transition: width 300ms 800ms ease-out;
					-ms-transition: width 300ms 800ms ease-out;
					-o-transition: width 300ms 800ms ease-out;
					transition: width 300ms 800ms ease-out;
				}
				.b-lesson:nth-child(9){
					margin-left: 315px;
				}
				.lessonsAnim-show .b-lesson:nth-child(9){
					width: 120px;
					-webkit-transition: width 300ms 900ms ease-out;
					-moz-transition: width 300ms 900ms ease-out;
					-ms-transition: width 300ms 900ms ease-out;
					-o-transition: width 300ms 900ms ease-out;
					transition: width 300ms 900ms ease-out;
				}
				.b-lesson:nth-child(10){
					margin-left: 395px;
				}
				.lessonsAnim-show .b-lesson:nth-child(10){
					width: 120px;
					-webkit-transition: width 400ms 1000ms ease-out;
					-moz-transition: width 400ms 1000ms ease-out;
					-ms-transition: width 400ms 1000ms ease-out;
					-o-transition: width 400ms 1000ms ease-out;
					transition: width 400ms 1000ms ease-out;
				}
				.b-lesson:nth-child(11){
					margin-left: 445px;
				}
				.lessonsAnim-show .b-lesson:nth-child(11){
					width: 120px;
					-webkit-transition: width 500ms 1100ms ease-out;
					-moz-transition: width 500ms 1100ms ease-out;
					-ms-transition: width 500ms 1100ms ease-out;
					-o-transition: width 500ms 1100ms ease-out;
					transition: width 500ms 1100ms ease-out;
				}
				.b-lesson:nth-child(12){
					margin-left: 315px;
				}
				.lessonsAnim-show .b-lesson:nth-child(12){
					width: 410px;
					-webkit-transition: width 600ms 1200ms ease-out;
					-moz-transition: width 600ms 1200ms ease-out;
					-ms-transition: width 600ms 1200ms ease-out;
					-o-transition: width 600ms 1200ms ease-out;
					transition: width 600ms 1200ms ease-out;
				}
			.b-timetable-shadow{
				background-position: 50% 50%;
				background-image: url('../i/10/light.png');
				width: 152px;
				top: 20px;
				height: calc(100% - 40px);
				position: absolute;
				right: 5px;
			}

@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}